<% include ./partials/header %>
<div class="container">
	<form action="/customers/<%=customer._id %>?_method=PUT" method="POST">
	  <div class="form-group">
	    <label for="name">Name:</label>
	    <input type="text" class="form-control" id="name" name="customer[name]" value="<%= customer.name %>">
	  </div>
	  <div class="form-group">
	    <label for="phoneno">Phone no:</label>
	    <input type="text" class="form-control" id="phoneno" name="customer[phoneNumber]" value="<%= customer.phoneNumber %>">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<% include ./partials/footer %>