<% include ./partials/header  %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>Jumbo Dairy Farm</h1>
			<h3><span>शुद्ध!! </span><span>ताजा!! </span><span>दूध!!</span></h3>
			<hr>
			<form action="/customers" method="GET">
				<button class="btn btn-primary btn-lg">View all customers</button>
			</form>
			<form action="/customers/new" method="GET">
				<button class="btn btn-primary btn-lg">CREATE NEW CUSTOMER</button>
			</form>
			</div>
		</div>
	</div>
	
</div>




<% include ./partials/footer  %>
