#content
{
	position: absolute;
  left: 100px;
  top: -300px;
	
	padding-top:25%;
	text-shadow: 0px 4px 2px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 8px 23px rgba(0,0,0,0.1);
}

html
{
	height: 100%
}
body
{
	background-image:url(http://hdwallpapersrocks.com/wp-content/uploads/2013/10/Funny-cow-cattle-face-HD-wallpaper.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

h1
{
	font-weight: 600;
	font-size:5em;
}

hr
{
	width:400px;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2);
}


