#content
{
	position: fixed;
    left: 100px;
    top: -300px;
    text-align: center;
	padding-top:25%;
	text-shadow: 0px 4px 2px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 8px 23px rgba(0,0,0,0.1);
}

html
{
	height: 100%
}
body
{
	background-image:url(http://hdwallpapersrocks.com/wp-content/uploads/2013/10/Funny-cow-cattle-face-HD-wallpaper.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

h1
{
	font-weight: 600;
	font-size:5em;
}

hr
{
	width:300px;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.navbar{
background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 0;
}
#aa
{
	color:black;
}
#ab
{
	color:black;
	background: pink;
}#ac
{
	color:black;
}#ad
{
	color:black;
}
#ae
{
	color:black;
}


